### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [51]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [70]:
def count_mean_rating0(data):
    '''Подсчёт среднего значения оценки фильма и присвоение рейтинга'''
    if data.rating.mean() < 2:
        return 'Низкий рейтинг'
    elif data.rating.mean() < 4:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [71]:
mean_ratings = ratings.groupby('movieId').apply( count_mean_rating0 )

In [74]:
def classify_movies(row):
    '''Классификация фильмов по рейтингу'''
    try:
        return mean_ratings.loc[row['movieId']]
    except:
        return 'Nan'

In [75]:
movies['class'] = movies.apply(classify_movies, axis=1)
movies

,movieId,title,genres,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,Средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,Средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Средний рейтинг
4,5,Father of the Bride Part II (1995),Comedy,Средний рейтинг
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Высокий рейтинг
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,Средний рейтинг
9739,193585,Flint (2017),Drama,Средний рейтинг
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Средний рейтинг
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Высокий рейтинг

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],
            
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }

Результат классификации запишите в отдельный столбец region.

In [12]:
key_words = pd.read_csv('keywords.csv')
key_words

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [13]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [14]:
def asign_geoloc_region(row):
    """Присвоение географического региона каждому запросу внутри строки row"""
    
    for key, values in geo_data.items():
        for value in values:
            if value in row['keyword']:
                return key
            else:
                return 'Undefined'

In [15]:
key_words['region'] = key_words.apply(asign_geoloc_region, axis=1)
key_words

                       keyword     shows     region
0                           вк  64292779  Undefined
1                одноклассники  63810309  Undefined
2                        порно  41747114  Undefined
3                         ютуб  39995567  Undefined
4                    вконтакте  21014195  Undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  Undefined
99996      frigate для firefox      3630  Undefined
99997                   укрсиб      3630  Undefined
99998  погода в ялте на неделю      3688  Undefined
99999                     ггму      3630  Undefined

[100000 rows x 3 columns]

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

### 1. В датафрейме movies в столбец year выставляем год выпуска для каждого фильма

In [76]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [77]:
years = []

for year in range(1950, 2010+1):
    years.append(str(year))

In [78]:
def prodaction_year(row):
    """Выставляет каждой строке год выпуска фильма"""
    
    for year in years:
        if year in row['title']:
            return year
        
    return '1900'

In [79]:
movies['year'] = movies.apply(prodaction_year, axis=1)
movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1900
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1900
9739,193585,Flint (2017),Drama,1900
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1900
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991

### 2. Используя датафрейм ratings считаем среднюю оценку для каждого фильма и заносим в movies в столбец rating

In [33]:
def count_mean_rating(data):
    return data.rating.mean()

In [35]:
mean_ratings_movies = ratings.groupby('movieId').apply( count_mean_rating )

In [36]:
def get_average_rating(row):
    try:
        return mean_ratings_movies.loc[row['movieId']]
    except:
        return 0.0

In [37]:
movies['rating'] = movies.apply(get_average_rating, axis=1)
movies

,movieId,title,genres,year,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,2.357143
4,5,Father of the Bride Part II (1995),Comedy,1995,3.071429
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1900,4.000000
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1900,3.500000
9739,193585,Flint (2017),Drama,1900,3.500000
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1900,3.500000
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991,4.000000

### 3. Считаем среднюю оценку для каждого года

In [44]:
mean_ratings_years = movies.groupby('year').apply( count_mean_rating )

In [45]:
mean_ratings_years.sort_values(ascending=False).head(10)

year
1971    3.811243
1957    3.767680
1952    3.700104
1955    3.672863
1958    3.668078
1976    3.658863
1972    3.645005
1968    3.637633
1969    3.635484
1966    3.633244
dtype: float64